<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nadinemansour.bookshelfapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.example.nadinemansour.bookshelfapp.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User_profile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.nadinemansour.bookshelfapp.User_profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".New_review"
            android:label="@string/title_activity_new_review"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.nadinemansour.bookshelfapp.New_review" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".New_status"
            android:label="@string/title_activity_new_status"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.nadinemansour.bookshelfapp.New_status" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News_feed"
            android:label="@string/title_activity_news_feed"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.nadinemansour.bookshelfapp.News_feed" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".requests"
            android:label="@string/title_activity_requests"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.nadinemansour.bookshelfapp.requests" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Friends"
            android:label="@string/title_activity_friends"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.nadinemansour.bookshelfapp.Friends" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.nadinemansour.bookshelfapp.Search" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quotes"
            android:label="@string/title_activity_quotes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Selected_post"
            android:label="@string/title_activity_selected_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quote_new"
            android:label="@string/title_activity_quote_new"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Search_result"
            android:label="@string/title_activity_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".friends_item"
            android:label="@string/title_activity_friends_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".FacebookLogin"
            android:label="@string/title_activity_facebook_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsProfile"
            android:label="@string/title_activity_friends_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestProfile"
            android:label="@string/title_activity_request_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotFriends"
            android:label="@string/title_activity_not_friends"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
